{% extends'base.html.twig' %}
{%  block title %}

{% endblock %}
{% block body %}
        <div class="container mt-4">
            <h2>Editer l'option </h2>
            {{  include ('admin/option/_form.html.twig' , { button: 'Editer'} ) }}

        </div>
{% endblock %}

